body {
  text-align: center;
}
.about-us{
  background-image: url("./assets/img/EC_Heavy_Support_Squad.jpg");
  background-size: cover;
  opacity: .7;
}

.menu ul li {
  display: inline-block;
  height: 20px;
  padding: 15px;
  text-align: right;
}
li a{
  text-decoration: none;
  color: rgba(204, 208, 27)
}

.menu {
  text-align: right;

}

nav {
  height: 60px;
  background-color: black;
  text-align: left;
  font-family: 'Quattrocento Sans', sans-serif;


}

.titles {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  padding: 0;
}

header {
  background-image: url("../assets/img/mini.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  height: 40vh;
}

 .subtitle {
  text-align: rigth;
}

.WDWD {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: left;
}

.btn {
  margin-top: 20px;
}

.btns {
  background-color: rgba(4, 4, 4);
  border: none;
  color: rgba(169, 110, 16);
  padding: 15px 32px;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  width: 170px;
}

.btns:hover {
  background-color: rgba(169, 110, 16);
  color: rgba(4, 4, 4);
}

hr {
  margin-top: 1em;
  margin-bottom: 2em;
}
h1, h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 0;
}

.container-img img {
  height: 250px;
  width: 300px;
}

footer {
  height: 56px;
  background-color: #000000;
  text-align: center;
  color: rgba(205, 209, 17);
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 3rem;
  padding: 2em;
}
